{% extends "base.html" %}
{% block content %}
<div class='jumbotron'>
  <div class='container'>
    <div class='intro-text'>
      {{ WelcText }}<br/>
      <span class='glyphicon glyphicon-cloud-download'></span>&nbsp;URL for WaresHub client is
      <input class='' type='text' readonly='readonly' size='42' value='{{ ClientURL }}'></input>
      <div class='text-center'>
        <ul class='nav nav-pills centered-pills'>
          {% for Type in TypesButtons %}
          <li{% if Type.Active %} class='active'{% endif %}>
            <a href='{{ Type.Name }}'>{{ Type.Title }}&nbsp;<span class='badge'>{{ Type.Count }}</span></a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class='container'>
  {% if WaresCount is equalto 0 %}
  <i>There is no {{ WaresTypeSingular }} available</i>
  {% else %}
  <form class='form-inline pull-right search-bar' role='form'>
    <div class='form-group'>
      <input type='text' class='form-control input-sm' id='search' name='search' placeholder='Searched terms'>
      <button type='submit' class='btn btn-default btn-sm'>Search</button>
      <input type='hidden' name='waretype' value='{{ WareType }}'>
    </div>
  </form>
</div>
<div class='container'>
  <table class='table' wdith='100%'>
    <tr>
      <th width='60%'>ID</th>
      <th width='20%'>Doc</th>
      <th>OpenFLUID compatibility</th>
    </tr>
    {% for Ware in WaresList %}
    <tr>
      <td width='60%'><a href='{{ WaresType }}/{{ Ware.ID }}'>{{ Ware.ID }}</a></td>
      <td width='20%'></td>
      <td></td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</div>

{% endblock %}
