{% import "branchstar.html" as BranchStar %}
{% extends "base.html" %}
{% block content %}
<div class='container'>
  {% if g.IsAdmin %}
  <!-- Admin buttons -->
  <div class="btn-group" role="group" aria-label="AdminButtons">
    <button type="button" class="btn btn-danger btn-xsm" data-toggle="modal" data-target="#AddModal">Add</button>
  </div>
  <!-- Add modal -->
  <div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="AddModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="AddModalLabel">Add {{ WaresTypeSingular }}</h4>
        </div>
        <form role='form' method='post'>
          <div class='modal-body form-group'>
            {{ AddF.csrf_token }}
            {{ AddF.ID.label.text }}: {{ AddF.ID(size=30,class="form-control input-sm") }}<br/>
            {{ AddF.ShortDesc.label.text }}: {{ AddF.ShortDesc(class="form-control input-sm") }}<br/>
            {{ AddF.UsersRO.label.text }}: {{ AddF.UsersRO(size=30,class="form-control input-sm") }}<br/>
            {{ AddF.UsersRW.label.text }}:{{ AddF.UsersRW(size=30,class="form-control input-sm") }}<br/>
            {{ AddF.MailingList.label.text }}:{{ AddF.MailingList(size=30,class="form-control input-sm") }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-xsm" data-dismiss="modal">Cancel</button>
            {{ AddF.SubmitAdd(class="btn btn-default btn-xsm") }}
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endif %}
  {% if WaresCount is equalto 0 %}
  <i>There is no {{ WaresTypeSingular }} available</i>
  {% else %}
  <form class='form-inline pull-right search-bar' role='form' method='POST'>
    <div class='form-group'>
      {{ SearchF.csrf_token }}
      {{ SearchF.Terms(size=20,class="form-control input-sm",placeholder=SearchF.Terms.label.text) }}
      {{ SearchF.Search(class="btn btn-default btn-sm") }}
    </div>
  </form>
</div>
<br/>
<div class='container'>
  <table class='table' wdith='100%'>
    <tr>
      <th width='60%'>ID</th>
      <th width='20%'>Doc</th>
      <th>Higher compatibility</th>
    </tr>
    {% for Ware in WaresList if not SearchF.Terms.data or SearchF.Terms.data in Ware.ID %}
    <tr>
      <td width='60%'><a href='{{ url_for('.WareDetails',ware_type=WaresType,ware_id=Ware.ID) }}'>{{ Ware.ID }}</a></td>
      <td width='20%'>{% if Ware.Doc %}<a href='{{ url_for('.WarePDFDoc',ware_type=WaresType,ware_id=Ware.ID) }}'><span class='glyphicon glyphicon-file'></span>&nbsp;PDF</a>{% endif %}</td>
      <td>{% if Ware.HigherVersion %}{% if Ware.HigherVersion == CurrentOFVersion %}{{ BranchStar.Current() }}{% else %}{{ BranchStar.Other() }}{% endif %}{{ Ware.HigherVersion }}{% endif %}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</div>
{% endblock %}
