{% extends "base.html" %}
{% block content %}
<div class='jumbotron'>
  <div class='container'>
    <div class='intro-text'>
      {{ WelcText }}<br/>
      <span class='glyphicon glyphicon-cloud-download'></span>&nbsp;URL for WaresHub client is
      <input class='' type='text' readonly='readonly' size='42' value='{{ ClientURL }}'></input>
      <div class='text-center'>
        <ul class='nav nav-pills centered-pills'>
          {% for Type in TypesButtons %}
          <li{% if Type.Active %} class='active'{% endif %}>
            <a href='{{ url_for('.GetWares',ware_type=Type.Name) }}'>{{ Type.Title }}&nbsp;<span class='badge'>{{ Type.Count }}</span></a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class='container'>
  {% if WaresCount is equalto 0 %}
  <i>There is no {{ WaresTypeSingular }} available</i>
  {% else %}
  <form class='form-inline pull-right search-bar' role='form' method='POST'>
    <div class='form-group'>
      {{ SearchF.csrf_token }}
      {{ SearchF.Terms(size=20,class="form-control input-sm",placeholder=SearchF.Terms.label.text) }}
      {{ SearchF.Search(class="btn btn-default btn-sm") }}
    </div>
  </form>
</div>
<div class='container'>
  <table class='table' wdith='100%'>
    <tr>
      <th width='60%'>ID</th>
      <th width='20%'>Doc</th>
      <th>OpenFLUID compatibility</th>
    </tr>
    {% for Ware in WaresList if not SearchF.Terms.data or SearchF.Terms.data in Ware.ID %}
    <tr>
      <td width='60%'><a href='{{ url_for('.GetWare',ware_type=WaresType,ware_id=Ware.ID) }}'>{{ Ware.ID }}</a></td>
      <td width='20%'></td>
      <td></td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</div>
{% endblock %}
